// colors

$event-color-1: #114B5F;
$event-color-2: #336699;
$event-color-3: #EF476F;
$event-color-4: #70A288;
$event-color-5: #CAD178;
$event-color-6: #607B7D;
$event-color-7: #9191E9;
$event-color-8: #A9E5BB;
$event-color-9: #540D6E;
$event-color-10: #EB5E55;

$button-color: #A44200;

$text-color: #000000;
$border-color: #EAEAEA;
$bg-color: #ffffff;
$link-color: #ffffff;

// fonts 

$primary-font: 'Ubuntu', sans-serif;

//colum number

$columns-number: 10;
$row-height: 50px;