<div class='event-info'>
    <br/><br/>
    {% if act.spotifyTopTracks is not null %}
        {% for topTrack in act.spotifyTopTracks %}
            <iframe src="https://open.spotify.com/embed?uri=spotify:track:{{ topTrack }}" height="80px" width="100%" frameborder="0" allowtransparency="true"></iframe>
        {% endfor %}
    {% endif %}
</div>